VITE_SUPABASE_URL=https://ghukwnsmuimbejpevahk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdodWt3bnNtdWltYmVqcGV2YWhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTg2MTcsImV4cCI6MjA5MDI3NDYxN30.tRITqFxJMrOSrq3UKneTjZ06ibhU8IEXnxYRBJmC8YI
